.container{
  border:2px solid red;
  margin: 30px 10px 5px 2px;
  padding:20px;
}

.container1{
  border:2px solid blue;
}

#btn{
  background-color: brown;
  color: antiquewhite;
  margin: 20px 20px;
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
}

#btn:hover{
  background-color: blue;
}